@import url('https://fonts.googleapis.com/css?family=Graduate');
.bg{
  background-image: url('../../assets/background.jpg');
  border-radius: 25px;
  width: 700px;
  height: 350px;
  margin-top: 50px
}
.creditCard {
  text-align: center;
}
.puceStyle {
  width: 70px
}
.cardNumberStyle{
  background-color: #e1b4539e;
  font-family: 'Graduate', cursive;
  font-size: 25px;
  margin-left: 25px;
  color: #f4c664
}
.float-right{
  float: right
}
.cardHolderStyle{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: 25px;
  float:left
}
.masterCard-style{
  width: 85px;
  margin-left: 5px
}
.visaLogo-style{
  width: 95px;
}
.titleStyle{
  font-size: 28px;
  font-weight: bolder;
  margin-top: 30px;
  right: 40px;
  color: white
}
.secretCode-style{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto
}
.m-r-20{
  margin-right: 20px
}
.m-l-20{
  margin-left: 20px
}
.m-l-50{
  margin-left: 50px
}
.m-t-10{
  margin-top: 10px
}
.m-t-20{
  margin-top: 20px
}
.center{
  margin: auto
}
.font-10{
  font-size: 10px
}
.p-r-xs{
      padding-right: 2px;
}
